[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    node_modules,
    migrations,
    alembic
ignore =
    E501,
    W503,
    E402,
    F401,
    E303,
    E302,
    E305,
    E128,
    E122,
    W291,
    W293,
    W391,
    E201,
    E202,
    E226
per-file-ignores =
    __init__.py:F401
    test_*.py:E302,W293
